In [60]:
import pandas as pd
import numpy as np
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

In [61]:
data = load_iris()

In [62]:
data.keys()

dict_keys(['data', 'target', 'frame', 'target_names', 'DESCR', 'feature_names', 'filename', 'data_module'])

In [63]:
data.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [64]:
df = pd.DataFrame(
    data= data.data,
    columns= data.feature_names
)

In [65]:
df['target'] = data.target

In [66]:
df

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target
0,5.1,3.5,1.4,0.2,0
1,4.9,3.0,1.4,0.2,0
2,4.7,3.2,1.3,0.2,0
3,4.6,3.1,1.5,0.2,0
4,5.0,3.6,1.4,0.2,0
...,...,...,...,...,...
145,6.7,3.0,5.2,2.3,2
146,6.3,2.5,5.0,1.9,2
147,6.5,3.0,5.2,2.0,2
148,6.2,3.4,5.4,2.3,2
149,5.9,3.0,5.1,1.8,2

In [67]:
df["species"] = df["target"].map(
    dict(enumerate(data.target_names))
)

In [68]:
df.sample(5)

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
23,5.1,3.3,1.7,0.5,0,setosa
29,4.7,3.2,1.6,0.2,0,setosa
35,5.0,3.2,1.2,0.2,0,setosa
109,7.2,3.6,6.1,2.5,2,virginica
142,5.8,2.7,5.1,1.9,2,virginica

# Sanity Check

In [69]:
df.shape

(150, 6)

In [70]:
df.isnull().sum()

sepal length (cm)    0
sepal width (cm)     0
petal length (cm)    0
petal width (cm)     0
target               0
species              0
dtype: int64

In [71]:
df['target'].value_counts()

target
0    50
1    50
2    50
Name: count, dtype: int64

In [72]:
df['species'].value_counts()

species
setosa        50
versicolor    50
virginica     50
Name: count, dtype: int64

In [73]:
df.duplicated().sum()

1

In [74]:
df[df.duplicated(keep=False)]

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),target,species
101,5.8,2.7,5.1,1.9,2,virginica
142,5.8,2.7,5.1,1.9,2,virginica

In [75]:
df.drop_duplicates(inplace=True)

In [76]:
df.duplicated().sum()

0

Renaming the Column Names for easier understanding

In [77]:
df = df.rename(columns = {
    'sepal length (cm)': 'sepal_length',
    'sepal width (cm)': 'sepal_width',
    'petal length (cm)': 'petal_length',
    'petal width (cm)': 'petal_width'
})

In [78]:
df.head(5)

   sepal_length  sepal_width  petal_length  petal_width  target species
0           5.1          3.5           1.4          0.2       0  setosa
1           4.9          3.0           1.4          0.2       0  setosa
2           4.7          3.2           1.3          0.2       0  setosa
3           4.6          3.1           1.5          0.2       0  setosa
4           5.0          3.6           1.4          0.2       0  setosa

In [79]:
df['sepal_length'].describe()

count    149.000000
mean       5.843624
std        0.830851
min        4.300000
25%        5.100000
50%        5.800000
75%        6.400000
max        7.900000
Name: sepal_length, dtype: float64

In [80]:
df['sepal_width'].describe()

count    149.000000
mean       3.059732
std        0.436342
min        2.000000
25%        2.800000
50%        3.000000
75%        3.300000
max        4.400000
Name: sepal_width, dtype: float64

In [81]:
df['petal_length'].describe()

count    149.000000
mean       3.748993
std        1.767791
min        1.000000
25%        1.600000
50%        4.300000
75%        5.100000
max        6.900000
Name: petal_length, dtype: float64

In [82]:
df['petal_width'].describe()

count    149.000000
mean       1.194631
std        0.762622
min        0.100000
25%        0.300000
50%        1.300000
75%        1.800000
max        2.500000
Name: petal_width, dtype: float64

# Model Training

In [83]:
X = df.drop(columns=['target','species'])

In [84]:
y = df['target']

In [85]:
X_train,X_test,y_train,y_test = train_test_split(X,y, test_size=0.2,random_state=42)

In [86]:
X_train.shape

(119, 4)

In [87]:
X_test.shape

(30, 4)

In [88]:
y_train.shape

(119,)

In [89]:
y_test.shape

(30,)

In [90]:
rf = RandomForestClassifier()

In [91]:
rf.fit(X_train,y_train)

RandomForestClassifier()

In [92]:
y_pred = rf.predict(X_test)

In [93]:
accuracy_score(y_test,y_pred)

1.0